@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  @apply font-sans;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-4xl font-bold 2xl:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold 2xl:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold 2xl:text-3xl;
  }

  h4 {
    @apply text-xl font-bold 2xl:text-2xl;
  }

  h5 {
    @apply text-lg font-bold 2xl:text-xl;
  }

  h6 {
    @apply text-base font-bold 2xl:text-lg;
  }

  p {
    @apply text-base 2xl:text-lg;
  }
}

.btn {
  @apply rounded-full px-4 py-2;
}

.btn-active {
  @apply bg-primary text-white;
}

.btn-active:hover {
  @apply bg-primary text-white;
}

.btn-active:active {
  @apply bg-primary text-white;
}

.btn-primary {
  @apply border-none bg-secondary text-white;
}

.btn-primary:hover {
  background-color: #1faecd;
}

.btn-primary:active {
  background-color: #1faecc;
}

.btn-primary:disabled {
  background-color: #e0e0e0;
}

.btn-secondary {
  @apply bg-white text-secondary;
}

.btn-secondary:hover {
  background-color: #f5f5f5;
}

.btn-secondary:active {
  background-color: #f4f4f4;
}

.btn-secondary:disabled {
  background-color: #e0e0e0;
  color: white;
}

.idc-menu:hover {
  background: none !important;
}

.idc-menu:active {
  @apply !bg-inherit !text-inherit;
}

.path {
  @apply !text-primary !underline;
}

.idc-menu-country:active {
  @apply !bg-white !text-base-content;
}

.idc-menu-country-item-active:active {
  @apply !bg-secondary !text-white;
}

.idc-menu-country-item:active {
  @apply !bg-base-300 !text-base-content;
}

.home-splide .splide__pagination {
  @apply relative;
}

.clients-splide .splide__pagination {
  @apply relative mt-8;
}

.clients-splide .splide__pagination .is-active {
  @apply bg-secondary;
}

.splide-hide-pagination .splide__pagination {
  @apply hidden;
}

.splide-hide-arrow .splide__arrows {
  @apply hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Set your preferred width */
  display: block; /* Ensure it's block or inline-block */
}

.swiper {
  width: 184px;
  height: 320px;
}

@media (min-width: 400px) {
  .swiper {
    width: 239px;
    height: 431px;
  }
}
@media (min-width: 768px) {
  .swiper {
    width: 319px;
    height: 583px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

#article-content ul {
  @apply list-none;
}

#article-content > ul {
  @apply list-disc pl-5;
}

#article-content > ul > li > ul {
  @apply pl-5;
  list-style-type: circle;
}

#article-content > ul > li > ul > li {
  list-style-type: circle;
}