.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Keeps the child elements aligned to the left */
  margin: 0 auto; /* Centers the wrapper horizontally */
  padding-left: 50px; /* Adjust this value to move the content further to the right */
  width: 100%;
  max-width: 1200px; /* Set a max width that fits your layout */
}

@media (max-width: 1024px) {
  .wrapper {
    padding-left: 15px; /* Reduce padding for medium screens */
    max-width: 900px; /* Adjust max-width for tablets */
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 10px; /* Further reduce padding for small screens */
    max-width: 100%; /* Allow full width for small devices */
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding-left: 5px; /* Minimal padding for very small screens */
  }
}

.timeline-gap {
  height: 379px;
  width: 1px;
}

@media (min-width: 768px) {
  .timeline-gap {
    height: 270px;
    width: 1px;
  }
}
.timeline {
  height: 200px;
  width: 1px;
}

.circleWrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  margin-left: -15px; /* Aligns the circle with the timeline */
}

.circle {
  width: 30px; /* Fixed width */
  height: 30px; /* Fixed height */
  border-radius: 50%; /* Ensures it remains a circle */
  display: inline-block; /* Prevents it from growing or shrinking */
  flex-shrink: 0; /* If inside a flex container */
}

.description-block {
  max-width: 600px; /* Adjust to fit the container */
}
